.navbar-default {
  margin-top: 20px;
  background-color: slateGray;
}

.navbar-default .navbar-nav> li > a {
  color: white; /*Change text color here*/
  font-size: 20px;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav{
  color: #FEFAC0;  /*Text hover color on navbar*/
}


.navbar-default .navbar-brand {
    color: #fff;   /*Home text color*/
    font-size: 40px;
}

.navbar-default .navbar-brand:hover{
  color: #FEFAC0;  /*Home hover color*/
}

.dropdown-menu > li > a:hover,{
  color: #262626;
  background-color: darkGray;  /*change color of links in drop down*/
   }

.center{
  text-align: center;
}   


a {
  font-size: 2em;
  color: black;
}

.mainstyle{
  background-color: MediumAquaMarine;
  padding: 30px 30px 30px 30px; 
  margin: 20px 20px 20px 20px;
}

.bkgdstyle{
  background-color: lightGray;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
  font: 100% Helvetica, sans-serif;
}

div {
  color: black;
  font-size: 1.15em !important;
}


// Stars

.form-control {
  margin: 10px 0 !important;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { 
  display: none; 
} 

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";  /*whole star*/
}

.rating > .half:before { 
  content: "\f089";  /*half star*/
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

// /***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 