
<section class="movie-sec inline" key="{{@key}}">
  <div class="row">
  {{#each Movie}}
    <div class="col-sm-3">
      {{#if poster}}
      <img src="{{poster}}">
      {{else}}
      <img src="../images/no-image-found.jpg">
      {{/if}}
        <br>
        <input type="hidden" class="rating" />
        <br>
        <button class="btn watchToggle">Unwatched</button>

        <button type="button" class="del btn btn-default btn-med">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
  {{/each}}
  </div>  
  <br><br><br>
</section>  