{{#each Search}}
  <div class="col-sm-3" key="{{imdbID}}">
    <div>
      <img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=8513e0a1" alt="{{Title}}" onError='$(this).replaceWith("<h2>{{Title}}</h2>");'>
    </div>  
    <br>
      <button type="button" id="addToWishlist"> Add to Wishlist</button>
  </div>
{{/each}}
