<section class="movie-sec inline">
  <div class="row">
  {{#each movie}}
    <div class="col-sm-3">
      {{#if poster}}
      <img src="{{poster}}">
      {{else}}
      <img src="../images/no-image-found.jpg">
      {{/if}}
        <button class="btn btn-danger watchToggle">Watched</button>

        <button type="button" class="del btn-danger btn btn-default btn-med">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
  {{/each}}
  </div>  
</section>  